# Node.js
node_modules/
.env
npm-debug.log
yarn-debug.log
yarn-error.log

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# AWS credentials
.aws/
# AWS SAM templates with secrets
**/template.yaml

# Misc
*.swp
*.swo
.idea/
.vscode/

# Build output
dist/
build/
coverage/

# Local environment
.env.*
